body {
  background-color: #C0C5C1;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}